img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: aqua;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    height: 100vh;
}

.img-container{
    display: flex;
    justify-content: center;
}

/* pointed to the class profile-card */
.profile-card{
    margin: 20px;
    border-radius: 15px;
    background-color:aliceblue;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, 
                rgba(240, 46, 170, 0.3) 10px 10px,
                rgba(240, 46, 170, 0.2) 15px 15px,
                rgba(240, 46, 170, 0.1) 20px 20px,
                rgba(240, 46, 170, 0.05) 25px 25px;
    padding: 20px 20px 20px 20px;
}

h1{
    color: chocolate;
    margin: 10px 0 5px 0;
}

p{
    color:indigo;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    text-decoration: none;
    color: blue;
    background-color:chartreuse;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.15;
}
